<!DOCTYPE html>
<html>
  <head>
    <title>HeLO-API</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
  </head>
  <body>
    <div class="codeheader">
      Something about the HeLO-Server...
    </div>
    <div id="codebox">
      Here are some examples to show how the API can be used.
      <br/>
      The full documentation can be found <a href="https://app.swaggerhub.com/apis-docs/HeLO-System/HeLO-API/0.1">here</a>.
      <br/><br/>      
      {% for api in apis %}
        <b>{{ api['name'] }}</b>
        <ul>
        {% for path in api['paths'] %}
          <li><a href="{{ path }}">http://host/{{ path }}</a></li>
        {% endfor %}
        </ul>
        <br/>
      {% endfor %}
    </div>
  </body>
</html>